<div class="divcontenedor">
    <div class="divtext">
        Prueba De Secuenciación De Números
    </div>
    <h4 style="margin: 2%;">La prueba consiste en un ejercicio que permite determinar el número
        faltante en una secuencia, ejemplo: se muestra una secuencia 1, 2, 3, _ , 5 en
        este caso el número faltante es el "4". La cantidad de veces que se muestra la secuencia serán 5 de forma aleatoria. La cual consta
        de 7 números y puede empezar entre 1 y 9. El número faltante es aleatorio, puede
        estar al inicio, en medio o al final. Al finalizar el ejercicio se presentará un resultado
        en forma de porcentaje; es decir, si se muestra 5 veces la secuencia y 
        responde 3 de forma correcta su porcentaje de acierto será el 60%.
    </h4>
    <h4 style="margin: 2%;">
        El tiempo que tiene para poder responder será de 10 segundos, si
        no responde en ese tiempo su respuesta se tomará como incorrecta y pasará a la
        siguiente secuencia.
    </h4>
    <button type="button" class="btn btn-success btn-lg" routerLink="/sequence/1">INICIAR</button>
</div>